.u-section-1 .u-sheet-1 {
  min-height: 81px;
}

.u-section-1 .u-text-1 {
  text-decoration: underline !important;
  margin: 15px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 629px;
}

.u-section-2 .u-table-1 {
  margin: 57px auto 0 0;
}

.u-block-ecd9-46 {
  background-image: none;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-5 {
  background-image: none;
}

.u-section-2 .u-table-cell-6 {
  margin-bottom: 0;
}

.u-section-2 .u-table-cell-7 {
  margin-top: 20px;
}

.u-section-2 .u-table-cell-9 {
  background-image: none;
}

.u-section-2 .u-table-cell-13 {
  background-image: none;
}

.u-section-2 .u-table-cell-17 {
  background-image: none;
}

.u-section-2 .u-table-cell-21 {
  background-image: none;
}

.u-section-2 .u-table-cell-25 {
  background-image: none;
}

.u-block-ecd9-35 {
  background-image: none;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -437px 11px 0 auto;
  padding: 7px 9px;
}

.u-section-2 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
  width: 16px;
  height: 22px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px 11px 0 auto;
  padding: 7px 9px;
}

.u-section-2 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
  width: 16px;
  height: 22px;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px 11px 0 auto;
  padding: 7px 9px;
}

.u-section-2 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
  width: 16px;
  height: 22px;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px 11px 0 auto;
  padding: 7px 9px;
}

.u-section-2 .u-icon-4 {
  color: rgb(255, 255, 255) !important;
  width: 16px;
  height: 22px;
}

.u-section-2 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px 11px 0 auto;
  padding: 7px 9px;
}

.u-section-2 .u-icon-5 {
  color: rgb(255, 255, 255) !important;
  width: 16px;
  height: 22px;
}

.u-section-2 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px 11px 0 auto;
  padding: 7px 9px;
}

.u-section-2 .u-icon-6 {
  color: rgb(255, 255, 255) !important;
  width: 16px;
  height: 22px;
}

.u-section-2 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -415px 297px 0 auto;
  padding: 7px 9px;
}

.u-section-2 .u-icon-7 {
  color: rgb(255, 255, 255) !important;
  width: 16px;
  height: 22px;
}

.u-section-2 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px 297px 0 auto;
  padding: 7px 9px;
}

.u-section-2 .u-icon-8 {
  color: rgb(255, 255, 255) !important;
  width: 16px;
  height: 22px;
}

.u-section-2 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px 297px 0 auto;
  padding: 7px 9px;
}

.u-section-2 .u-icon-9 {
  color: rgb(255, 255, 255) !important;
  width: 16px;
  height: 22px;
}

.u-section-2 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px 297px 0 auto;
  padding: 7px 9px;
}

.u-section-2 .u-icon-10 {
  color: rgb(255, 255, 255) !important;
  width: 16px;
  height: 22px;
}

.u-section-2 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px 297px 0 auto;
  padding: 7px 9px;
}

.u-section-2 .u-icon-11 {
  color: rgb(255, 255, 255) !important;
  width: 16px;
  height: 22px;
}

.u-section-2 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px 297px 0 auto;
  padding: 7px 9px;
}

.u-section-2 .u-icon-12 {
  color: rgb(255, 255, 255) !important;
  width: 16px;
  height: 22px;
}

.u-section-2 .u-btn-13 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -415px 583px 0 auto;
  padding: 7px 9px;
}

.u-section-2 .u-icon-13 {
  color: rgb(255, 255, 255) !important;
  width: 16px;
  height: 22px;
}

.u-section-2 .u-btn-14 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px 583px 0 auto;
  padding: 7px 9px;
}

.u-section-2 .u-icon-14 {
  color: rgb(255, 255, 255) !important;
  width: 16px;
  height: 22px;
}

.u-section-2 .u-btn-15 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px 583px 0 auto;
  padding: 7px 9px;
}

.u-section-2 .u-icon-15 {
  color: rgb(255, 255, 255) !important;
  width: 16px;
  height: 22px;
}

.u-section-2 .u-btn-16 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px 583px 0 auto;
  padding: 7px 9px;
}

.u-section-2 .u-icon-16 {
  color: rgb(255, 255, 255) !important;
  width: 16px;
  height: 22px;
}

.u-section-2 .u-btn-17 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px 583px 0 auto;
  padding: 7px 9px;
}

.u-section-2 .u-icon-17 {
  color: rgb(255, 255, 255) !important;
  width: 16px;
  height: 22px;
}

.u-section-2 .u-btn-18 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px 583px 60px auto;
  padding: 7px 9px;
}

.u-section-2 .u-icon-18 {
  color: rgb(255, 255, 255) !important;
  width: 16px;
  height: 22px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-7 {
    margin-right: 97px;
  }

  .u-section-2 .u-btn-8 {
    margin-right: 97px;
  }

  .u-section-2 .u-btn-9 {
    margin-right: 97px;
  }

  .u-section-2 .u-btn-10 {
    margin-right: 97px;
  }

  .u-section-2 .u-btn-11 {
    margin-right: 97px;
  }

  .u-section-2 .u-btn-12 {
    margin-right: 97px;
  }

  .u-section-2 .u-btn-13 {
    margin-right: 383px;
  }

  .u-section-2 .u-btn-14 {
    margin-right: 383px;
  }

  .u-section-2 .u-btn-15 {
    margin-right: 383px;
  }

  .u-section-2 .u-btn-16 {
    margin-right: 383px;
  }

  .u-section-2 .u-btn-17 {
    margin-right: 383px;
  }

  .u-section-2 .u-btn-18 {
    margin-right: 383px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-9 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-11 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-12 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-13 {
    margin-right: 163px;
  }

  .u-section-2 .u-btn-14 {
    margin-right: 163px;
  }

  .u-section-2 .u-btn-15 {
    margin-right: 163px;
  }

  .u-section-2 .u-btn-16 {
    margin-right: 163px;
  }

  .u-section-2 .u-btn-17 {
    margin-right: 163px;
  }

  .u-section-2 .u-btn-18 {
    margin-right: 163px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-13 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-14 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-15 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-16 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-17 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-18 {
    margin-right: 0;
  }
}